<%- include("./partials/header") %>

<div class="container mt-5"> 
    <h2>Welcome <%= user.email %> </h2>
    <hr>
    <a href="/users/logout" class="btn btn-danger">Logout</a>
</div>

<%- include("./partials/footer") %>